server:
  port: 8001
spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/xp-zhao/learn-spring-cloud # git 仓库地址
          search-paths: spring-cloud-config/config-repo
          default-label: config
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/   # 注册中心eurka地址